{% extends 'base.html' %}
{% load static %}
{% load verbose_names %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-auto" style="margin-top: 5px;margin-bottom: 5px;">
            <div class="col">
                <form method="get">
                    <label for="select_group" class="col-form-label" style="margin-right: 10px;">Настройки
                        отбора:</label>
                    <div id="select_group" class="input-group">
                        {{ filter.form.document_date }}
                        {{ filter.form.contractor_guid }}
                        {{ filter.form.document_status_id }}
                        {{ filter.form.document_id }}
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-filter-square"></i>
                            Отбор
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header small"><i class="bi bi-table"></i> Список документов (УПД)</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Контрагент</th>
                        <th scope="col">Номер УПД</th>
                        <th scope="col">Дата УПД</th>
                        <th scope="col">Статус УПД</th>
                        <th scope="col">Проверка ЧЗ</th>
                        <th scope="col">Проверка СМ</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_unp" id="update_record"
                            data-href="#">
                            <td>{{ item.contractor_guid.contractor_name }}</td>
                            <td>{{ item.document_number }}</td>
                            <td>{{ item.document_date }}</td>
                            <td>{{ item.erp_status_id.status_description }}</td>
                            <td>{{ item.check_status_id.status_name }}</td>
                            <td>{{ item.document_status_id.status_description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'own/datatables_styled.js' %}"></script>
    <script src="{% static 'plugins/jquery-clear-button/jquery-clear-button.js' %}"></script>
    <script>
        $('#document_id').jQueryClearButton();
    </script>
{% endblock %}