{% load static %}
{% load verbose_names %}
{% include 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-auto" style="margin-top: 33px;margin-bottom: 8px;">
            <div class="col">
                <form method="get">
                    <div class="row row-cols-auto">
                        <div class="input-group">
                            {{ filter.form.ware_code }}
                            {{ filter.form.ware_name }}
                            <label class="col-form-label" style="margin-right: 10px;">Пометка удаления:</label>
                            {{ filter.form.marked }}
                            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-filter-square"></i>
                                Отбор
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="bi bi-table"></i> Номенклатура</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Код товара</th>
                        <th scope="col">Наименование товара</th>
                        <th scope="col">Удален</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_unp" id="update_record"
                            data-href="#">
                            <td>{{ item.ware_code }}</td>
                            <td>{{ item.ware_name }}</td>
                            <td>{% if item.marked %} Да {% else %} Нет {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
   <script src="{% static 'own/datatables_styled.js' %}"></script>
{% endblock %}