{% load static %}
{% load verbose_names %}
{% include 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="bi bi-table"></i> Статусы проверки документов</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Код статуса</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Уровень</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_unp" id="update_record"
                            data-href="#">
                            <td>{{ item.status_id }}</td>
                            <td>{{ item.status_description }}</td>
                            <td>{% if item.status_level == 0 %} Корректен {% else %} Некорректен {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}