{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card mb-4" style="margin-top: 5px;margin-bottom: 5px;">
            <div class="card-header small"><i class="bi bi-table"></i> Статусы КИЗ/КИТУ</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Наименование статуса</th>
                        <th scope="col">Наименование статуса (русск.)</th>
                        <th scope="col">Статус корректен</th>
                        <th scope="col">Действителен до</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_unp" id="update_record"
                            data-href="#">
                            <td>{{ item.status_name }}</td>
                            <td>{{ item.status_local_name }}</td>
                            <td>{% if not item.status_correct %} Нет {% else %} Да {% endif %}</td>
                            <td>{{ item.valid_to }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'own/datatables_styled.js' %}"></script>
{% endblock %}