{% extends 'base.html' %}
{% load static %}
{% load verbose_names %}
{% block content %}
    <div class="container-fluid">
        <div class="card mb-4" style="margin-top: 5px;margin-bottom: 5px;">
            <div class="card-header small"><i class="bi bi-table"></i> Контрагенты</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover table-striped table-sm"
                       data-href="#">
                    <thead>
                    <tr>
                        <th scope="col">Контрагент</th>
                        <th scope="col">ИНН</th>
                        <th scope="col">Поставщик</th>
                        <th scope="col">Исключить проверку количества</th>
                        <th scope="col">Исключить проверку качества</th>
                        <th scope="col">Значение МРЦ продукции</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_unp" id="update_record"
                            data-href="{% url 'Main:contractors_record' item.contractor_guid %}">
                            <td>{{ item.contractor_name }}</td>
                            <td>{{ item.contractor_inn }}</td>
                            <td>{% if not item.distributor %} Нет {% else %} Да {% endif %}</td>
                            <td>{% if not item.contractor_count_whitelist %} Нет {% else %} Да {% endif %}</td>
                            <td>{% if not item.contractor_quality_whitelist %} Нет {% else %} Да {% endif %}</td>
                            <td>{{ item.contractor_mrc_minimal }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
    {% include 'modal_window.html' %}
{% endblock %}
{% block script %}
    <script src="{% static 'own/datatables_styled.js' %}"></script>
    <script src="{% static 'own/modal_open_exist.js' %}"></script>
    <script src="{% static 'own/modal_open_new.js' %}"></script>
{% endblock %}