{% load static %}
{% block content %}
    <div class="container-fluid">
{#        <form action="{% url 'Main:contractors_record' object.contractor_guid %}" method="post"#}
        <form method="post"
              enctype="multipart/form-data"
              id="record_update">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Изменить запись</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <label class="form-label" for="{{ form.contractor_guid.id_for_label }}">Идентификатор
                        контрагента:</label>
                    <div class="form-group">
                        {{ form.contractor_guid }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.contractor_name.id_for_label }}"> Наименование
                            контрагента:</label>
                        {{ form.contractor_name }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.contractor_inn.id_for_label }}"> ИНН
                            контрагента:</label>
                        {{ form.contractor_inn }}
                    </div>
                    <div class="form-check">
                        {{ form.distributor }}
                        <label class="form-check-label" for="{{ form.distributor.id_for_label }}"> Поставщик
                            продукции</label>
                    </div>
                    <div class="form-check">
                        {{ form.contractor_count_whitelist }}
                        <label class="form-check-label" for="{{ form.contractor_count_whitelist.id_for_label }}">
                            Исключить
                            проверку количества</label>
                    </div>
                    <div class="form-check">
                        {{ form.contractor_quality_whitelist }}
                        <label class="form-check-label" for="{{ form.contractor_quality_whitelist.id_for_label }}">
                            Исключить
                            проверку качества</label>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.contractor_mrc_minimal.id_for_label }}"> МЗЦ (Мин.
                            закупочная цена):
                        </label>
                        {{ form.contractor_mrc_minimal }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" onclick="save_modal_data()"><i class="bi bi-check"></i>
                    &nbsp;Сохранить
                </button>
                <button class="btn btn-outline-secondary" id="close_modal" type="button"><i
                        class="bi bi-door-closed"></i>
                    &nbsp;Закрыть
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.getElementById('close_modal').addEventListener('click', function (e) {
            $("#ModalWindow").modal("hide");
            $("#ModalWindow .modal-body").html("");
        });
    </script>
    <script>
        function save_modal_data() {
            let f_obj_guid = "{{ object.contractor_guid }}";
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: '{% url 'Main:save_contractor_data' %}',
                    data: $("#record_update").serialize(),
                    {#    {#}
                    {#    csrfmiddlewaretoken: '{{ csrf_token }}',#}
                    {#    'contractor_guid': f_obj_guid,#}
                    {#    'contractor_name': document.getElementById("{{form.contractor_name.id_for_label}}").value,#}
                    {#    'contractor_quality_whitelist': document.getElementById("{{form.contractor_quality_whitelist.id_for_label}}").checked ? 1: 0,#}
                    {#    'contractor_count_whitelist': document.getElementById("{{form.contractor_count_whitelist.id_for_label}}").checked ? 1: 0,#}
                    {#    'distributor': document.getElementById("{{form.distributor.id_for_label}}").checked ? 1: 0,#}
                    {#    'contractor_mrc_minimal': document.getElementById("{{form.contractor_mrc_minimal.id_for_label}}").value,#}

                    success: function callback(response) {
                        if (response.result === 1) {
                            document.getElementById(response.object).innerHTML = response.data
                            $("#ModalWindow").modal("hide");
                            $("#ModalWindow .modal-content").html('');
                        }
                    }
                }
            );
        }
    </script>
{% endblock %}